<div class="shopping-wrapper">
  <h1>Add New Item</h1>
  <form
    class="shopping-form"
    (submit)="onSubmit()"
    [formGroup]="addList"
    action=""
  >
    <div class="form-content">
      <div class="content">
        <label for="">Item Name</label>
        <input type="text" name="item_name" formControlName="name" />
      </div>
      <div class="content">
        <label for="">Category</label>
        <select name="" id="" formControlName="category">
          <option value="Fruit">Fruit</option>
          <option value="Dairy">Dairy</option>
          <option value="Vegetable">Vegetable</option>
          <option value="Staple">Staple</option>
        </select>
      </div>
      <div class="content">
        <label for="">Price</label>
        <input type="number" formControlName="price" name="price" />
      </div>
      <div class="content">
        <label for="">Quantity</label>
        <input type="number" formControlName="quantity" name="quantity" />
      </div>
      <button type="submit">Add Item</button>
    </div>
  </form>
</div>
